<app-header-bo></app-header-bo>
<div class="container">
    <div class="container-body">

        <div class="container-entete">
            <img src="assets/illustration/back-office.png" alt="back-office">
            <div class="entete-titre">
               @if(isNewPost){
                    <h1>Ajouter une publication</h1>
               }@else (){
                   <h1>Modifier la publication</h1>
               } 
                
            
<div class="all-cat">
                <div class="categoryList">
                    <label class="boxCatContainer" for="cat1">
                        <input required type="radio" id="cat1" formControlName="cat" name="cat" class="cat" value="Litterature">
                        <span class="boxcat textcat">Litterature</span>
                      
                        
                    </label>
                </div>
                <div class="categoryList">
                    <label class="boxCatContainer" for="cat2">
                        <input required type="radio" id="cat2" formControlName="cat" name="cat" class="cat" value="Cinema">
                        <span class="boxcat textcat">Cinema</span>
                      
                    </label>
                </div>
                <div class="categoryList">
                    <label class="boxCatContainer" for="cat3">
                        <input required type="radio" id="cat3" formControlName="cat" name="cat" class="cat" value="Citation">
                        <span class="boxcat textcat">Citation</span>
                    
                    </label>
                </div>
</div>   
            


<div class="all-cat-mobile">
    <div class="categoryList">
        <label class="boxCatContainer" for="cat1">
            <input required type="radio" id="cat1" formControlName="cat" name="cat" class="cat" value="Litterature">    
            <span><img class="boxcat" src="assets/icons/livre.png" alt="livre."></span>
            
        </label>
    </div>
    <div class="categoryList">
        <label class="boxCatContainer" for="cat2">
            <input required type="radio" id="cat2" formControlName="cat" name="cat" class="cat" value="Cinema">
            <span><img  class="boxcat"src="assets/icons/clap.png" alt="clap"></span>
        </label>
    </div>
    <div class="categoryList">
        <label class="boxCatContainer" for="cat3">
            <input required type="radio" id="cat3" formControlName="cat" name="cat" class="cat" value="Citation">
            <span><img class="boxcat" src="assets/icons/citation.png" alt="citation"></span>
        </label>
    </div>
</div>   
                <!-- <div class="test">
                    <label for="litterature">Littérature</label>
                    <input type="radio"  id="litterature" name="categorie" checked>
                  </div>
                  <div class="test">
                    <label for="cinema">Cinéma</label>
                    <input type="radio" id="cinema"  name="categorie">
                  </div>
                  <div class="test">
                    <label for="citation">Citation</label>
                    <input type="radio" id="citation" name="categorie">
                  </div> -->
            </div>
        </div>

        <div class="container-formulaire"> 
          <app-post-form [post]="post"></app-post-form>
        </div>
    </div>
</div>