.container {
    width: 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

.container-formulaire {
    display: flex;
    justify-content: center;
}

.container-body {
    margin: 5vh auto;
    width: 80%;
}

/* Entete : img, title, button */
.container-entete {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    gap: 5vh;
}

.container-entete img {
    width: 20%;
    max-width: 20vw;
}

.entete-titre {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.entete-titre h1 {
    font-family: "Merriweather", sans-serif;
    font-weight: normal;
}



.all-cat {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.all-cat-mobile{ display:none;}

.categoryList {
    position: relative;
    display: flex;
    justify-content: space-around;

}

/*CSS Pour bouton categorie*/
.boxCatContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 28px;
    margin-top: -10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.boxCatContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.iconcat {
    display :none;
}

.boxcat {
    position: absolute;
    border-radius: 20px;
    border: black solid 1px;
    top: 12px;
    left: -10px;
    text-align: center;
    padding: 13px;
}

.boxCatContainer input:checked~.boxcat {
    background-color: var(--gold);
    border: none;
}




/* RESPONSIVE */

@media (max-width: 850px) {
    .container-body {
        width: 95%;
    }

    .container-formulaire {
        width: 100%;
        margin: 0;
    }
    .container-entete {
        flex-direction: column;
        justify-content: center;
     
        align-items: center;
    }

    .entete-titre h1 {
        font-size: 2rem;
        display: block;
    }

   .all-cat{
    display: none;
   }
   .all-cat-mobile{
    display: block;
    display: flex;
    justify-content: space-around;
    width: 100%;
   }

    .boxcat{
        display: block;
        margin:0;
        width: 5vw;
        height: 5vw;
       
    }    

    @media (max-width: 799px) {

     
        .entete-titre {
            width: 90%;
            text-align: center;
        }

        .entete-titre h1 {
            font-size: 1.5rem;
        }

        .all-cat{
            display: none;
           }
        .all-cat-mobile{
            display: block;
           }
        
        .iconcat{
            display: block;
            width: 20vw;
            height: 8vh;
        }
      

    }
}