<app-header-bo></app-header-bo>
<div class="container">
    <!-- <div class="container-body"> -->

        <!-- <div class="container-entete">
            <img src="assets/illustration/back-office.png" alt="back-office">
            <div class="entete-titre">
                @if(isNewPost){
                <h1>Ajouter une publication</h1>
                }@else (){
                <h1>Modifier la publication</h1>
                }
               
                <div class="all-cat">
                    @for(category of categoriesButton; track category.id){
                    <div class="categoryList">
                        <label class="boxCatContainer" [for]="category.id">
                            <input required type="radio" [id]="category.id" formControlName="categorie" name="categorie" class="cat"
                                value="category">
                            <span class="boxcat">{{category.title}}</span>
                        </label>
                    </div>
                }
                </div>
           

            </div>
        </div> -->

        <!-- <div class="container-formulaire"> -->
            <app-post-form [post]="post"></app-post-form>
        <!-- </div> -->
    <!-- </div> -->
</div>