.container {
    align-items: start;
    height: 70vh;
    width: 90vw;
    margin: 20vh auto 0;
    justify-content: space-between;
}
.flex {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: "Merriweather", sans-serif;
    margin-bottom: 1rem;
}

h1{
    text-align: center;
    width: 100%;
}

.formDataAdmin {
    width: 30vw;
}

.data-admin, input {
    width: 100%;
    margin-bottom: 0.5rem;
}

input {
    border-radius: 30px;
    padding: 0.5rem;
}

.update_button {
    width: 40%;
    margin: 0 auto 2rem;
    padding: 0.4rem;
    background-color: var(--main);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Merriweather", sans-serif;
}

.update_button:hover{
    background-color: var(--gold);
    color: var(--white);
}

.display_error_message{
    color: red;
    font-size: clamp(18px 0.5em 25px);
    font-style: italic;
    margin-bottom: 1rem;
}