.container {
    align-items: center;
    width: 50vw;
    margin: 20vh auto 5vh;
    justify-content: space-between;
}
.flex {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: "Merriweather", sans-serif;
    margin-bottom: 2rem;
}

h1{
    text-align: center;
    width: 100%;
}

.formDataAdmin label {
    font-size: 1.3rem;
}

.section-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-top: 3vh;
}

.data-admin, input {
    width: 100%;
    margin-bottom: 0.5rem;
}

input {
    border-radius: 30px;
    padding: 0.5rem;
}

input:focus{
    outline: none;
    border: var(--gold) solid 2px;
}

.update_button {
    width: 40%;
    margin: 0 auto 2rem;
    padding:0.8rem;
    background-color:white;
    border: var(--gold) solid 2px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Merriweather", sans-serif;
    color:var(--gold);
}

.update_button:hover{
    background-color: var(--gold);
    color: var(--white);
}

.display_error_message{
    color: red;
    font-size: clamp(18px 0.5em 25px);
    font-style: italic;
    margin-bottom: 1rem;
}

.logout{
    margin: 3vh;
    display: flex;
    width: 100%;
    justify-content: end;
}

.vertical-line{
    display: flex;
    justify-content: center;
    width: 100%;
}


/* Responsive */
@media (max-width: 426px) {

    .container {
        width: 90vw;
    }
   
   
}

@media (min-width: 427px) and (max-width: 1024px) {
    .container {
        width: 90vw;
    }
}