/* General */
.flex {
    display: flex;
}

.titre-partie{
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    margin: 5vh auto 7vh;
}

/* Entête */
.container-entete {
    flex-direction: column;
    width: 100%;
}

.entete {
    height: 82vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.picture-home {
    width: 20vw;
    min-width: 18vw;
    margin-top: 5vh;
}

.title-home {
    font-family: 'Courier Prime', Courier, monospace;
    font-size: clamp(30px 0.5rem 45px);
    font-weight: 100;
    padding: 2vw 3vw;
    text-align: center;
}

.entete .slogan {
    background-color: var(--main);
    height: 15vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.entete .slogan .slogan-text {
    font-family: 'Caveat', sans-serif;
    font-size: 30px;
    width: 60%;
    text-align: center;
    box-sizing: border-box;

}

/* Présentation */
.presentation-text {
    margin: 2vh 4vh;
    font-family: 'Courier Prime', Courier, sans-serif;
    font-size: clamp(18px, 1rem, 22px);
}


/* Partie theme */
.container-theme {
    margin:  0 5vh 3vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/* Nouvelle publication */
.last-post{
    width: 60vw;
    min-width: 60vw;
    height: auto;
    justify-content: space-around;
    align-items: space-between;
    gap: 5vw;
    margin-bottom: 5vh;
}

.last-post img{
    width: 40%;
    object-fit: contain;
    cursor: pointer;
}

.last-post-content{
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    min-width: 50%;
    gap: 2vw;
}

.last-post-title{
    font-family: "Caveat", sans-serif;
    font-size: 30px;
}

.last-post-resume{
    font-family: "Courier Prime", sans-serif;
    font-size: clamp(17px, 0.5rem, 22px);
}
.last-post-link{
    color: var(--black);
    font-family: "Courier Prime", sans-serif;
}

.last-post-link:hover{
    color: var(--gold);
}




/* ------------------R-E-S-P-O-N-S-I-V-E------------------------------ */

/* Responsive Tablet*/
@media (min-width:631px) and (max-width:1140px) {

    .entete {
        height: 70vh;
    }

    .picture-home {
        width: 25vw;
        min-width: 25vw;
        margin-top: 3vh;
    }

    .title-home {
        font-size: 26px;
    }

    .entete .slogan .slogan-text {
        font-size: 25px;
        width: 80%;
    }

    .container-theme {
        margin:  1vh; 
    }

    .last-post{
        flex-direction: column;
        align-items: center;
    }

    .last-post img{
        width: 60%;
    }

    .last-post-content{
        width: 90%;
    }
}




/* Responsive Mobile*/
@media (max-width:630px) {

    .entete {
        height: 60vh;
    }

    .picture-home {
        width: 40vw;
        min-width: 35vw;
        margin-top: 2vh;
    }

    .title-home {
        font-size: 20px;
        width: 90vw;
        padding: 0;
    }


    .entete .slogan .slogan-text {
        font-size: 23px;
        width: 80%;
    }

    .container-theme {
        margin:  2vh 1vh; 
    }

    .titre-partie{
        font-size: 17px;
        margin: 1vh auto 4vh;
    }

    .last-post{
        flex-direction: column;
        align-items: center;
    }

    .last-post img{
        width: 100%;
    }

    .last-post-content{
        width: 100%;
    }
}