<!-- Entete -->
<div class="entete flex">

    <section>
        <img class="picture-home" src="assets/img/picture_profil.png" alt="photo page d'accueil">
    </section>
    <h1 class="title-home">Bienvenue sur la bibliothèque de Cyril</h1>

    <div class="slogan">
        <p class="slogan-text">
            “Martin Eden, Dostoievski, Kessel, Corto Maltese, Fellini et Woody Allen.
            <br>
            Le reste n'est que superflu.”
        </p>
    </div>
</div>
<!-- Trait -->
<div class="v-line"></div>

<!-- Qui suis -je -->
<div>
    <h3>Qui suis-je ?</h3>
    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
        est, qui dolorem ipsum quia dolor sit amet,</p>

    <p>consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
        magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
        reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
        eum fugiat quo voluptas nulla pariatur?"</p>
</div>

<!-- Trait -->
<div class="v-line"></div>


<!-- Partie inférieure avec navigation et contenu -->
<div class="flex">
    <app-header class="header"></app-header>

    <section class="container">
        <div>
            <h3>Mes thèmes favoris</h3>
        </div>

    </section>
</div>