.container{
    margin: 5vh;
}


.conditions-text{
    font-family: 'Caveat', Courier, monospace;
    white-space: break-spaces;
    font-size: clamp(18px, 0.5rem, 22px);
    text-align: left;
}

.text-gold{
    color: var(--gold)
}

.flex{
    display: flex
}

.header{
    width: 14vw;
    min-width: 14vw;
    border-right: black solid 2px;
}

/* Responsive Tablet */

@media (min-width:426px)and (max-width:1024px) {
    .header{
    width: 20vw;
    min-width: 20vw;
    }

    .container{
        margin: 5vh 3vh;
    }
    
}

/* Responsive Smartphone */

@media (max-width:425px) {
    .header{
    width: 16vw;
    min-width: 16vw;
    }

    .container{
        margin: 5vh 2vh;
    }
    
}