.card {
    width: 20vw;
    height: 20vw;
    gap: 5vh;
    position: relative;
    cursor:pointer;
}

.card img {
    width: 100%;
    height: 100%;
}


.card figcaption{
    height:20%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--main);
    align-items: center;
    position: absolute;
    bottom: 0;
    opacity: 80%;
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 20px;
}


/* Responsive */


@media (max-width: 425px) {

    .card {
        width:60vw;
        height: 60vw;
    }
    .titre-partie{
        font-size: 18px;
        margin: 0 0 4vh;
    }
}


@media (min-width: 426px) and (max-width:768px){

    .card {
        width:30vw;
        height: 30vw;
    }
    .titre-partie{
        font-size: 18px;
        margin: 0 0 4vh;
    }
}
