<footer>
    <div class="container flex">
        <!-- Mentions légales, me contacter, reseaux sociaux -->
        <div class="mentions">
            <h3>Mentions légales</h3>
            <!-- Liens des mentions légales -->
            <div class="mentions_links">
                <ul>
                    <li><a href="">Politique de confidentialité</a></li>
                    <li><a href="">Politique en matière de cookies</a></li>
                    <li><a href="">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </div>
        <!-- Me contacter -->
        <div class="contact flex column">
            <h3>Me contacter</h3>
            <form action="">
                <textarea placeholder= "Votre message" name="" id="" cols="30" rows="3"></textarea>
                <input type="text">
                <button type="submit">Envoyer</button>
            </form>
        </div>

        <!-- Réseaux sociaux -->
        <div class="social_network">
            <h3>Réseaux sociaux</h3>
            <ul>
                <li><a href=""><img src="" alt="">Instagram</a></li>
                <li><a href=""><img src="" alt="">Threads</a></li>
            </ul>
        </div>
    </div>

    <!-- Copyright  -->
    <div class="copyright flex">
        <img src="assets/img/picture_profil.png" alt="picture_profil">
        <p> &copy;2024 par laBibliothèqueDeCyril</p>
    </div>


</footer>