<footer>
    <div class="container flex">
        <!-- Mentions légales, me contacter, reseaux sociaux -->
        <div class="mentions">
            <h3 class="footer_h3">Mentions légales</h3>
            <!-- Liens des mentions légales -->
            <div class="mentions_links">
                <ul>
                    <li><a routerLink="la_bibliotheque_de_cyril/page_de_confidentialite">Politique de
                            confidentialité</a></li>
                    <li><a routerLink="la_bibliotheque_de_cyril/cookies">Politique en matière de cookies</a></li>
                    <li><a routerLink="la_bibliotheque_de_cyril/conditions">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </div>
        <!-- Me contacter -->
        <div class="contact flex column">
            <h3 class="footer_h3">Me contacter</h3>
            <form action="" [formGroup]="formContact" (ngSubmit)="onSubmit()">
                <textarea placeholder="Votre message..." formControlName="message" id="message"
                    cols="30" rows="6" required></textarea>
                @if (isInvalidMessage) {
                <p class="display_error_message">{{errorMessage}}</p>
                }
                <input type="email" placeholder="Votre email" id="email" formControlName="email"
                    required>
                @if (isInvalidEmail) {
                <p class="display_error_message">{{errorEmail}}</p>
                }
                <app-button class="footer_button_form" type="submit" [title]="title"
                    ></app-button>
            </form>
        </div>

        <!-- Réseaux sociaux -->
        <div class="social_network">
            <h3 class="footer_h3 ">Réseaux sociaux</h3>
            <ul class="flex">
                <li><a href="https://www.instagram.com/cyrilduroy/" target="_blank"><img
                            src="assets/icons/insta_icon.svg" alt="instagram"></a></li>
                <li><a href="https://www.threads.net/@cyrilduroy" target="_blank"><img
                            src="assets/icons/threads_icon.svg" alt="threads"></a></li>
            </ul>
        </div>
    </div>

    <!-- Copyright  -->
    <div class="copyright flex">
        <a routerLink="">
            <img src="assets/img/picture_profil.png" alt="picture_profil">
        </a>
        <!-- <app-profile-picture></app-profile-picture> -->
        <p class="copyright"> &copy;2024 par laBibliothèqueDeCyril</p>
    </div>


</footer>