.header-bo {
    width: 100vw;
} 

/* Entete contain title and picture profile */

.entete-bo{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: var(--main);
}

.entete-bo h1{
width: 70%;
text-align: center;
font-family: 'Courier Prime', sans-serif;
font-weight: normal;

}

app-picture-profile{
    height:100%;
    
}