<div class="header-bo">
    <div class="entete-bo">
        <h1>La bibliothèque de Cyril</h1>
        <app-picture-profile class="picture"></app-picture-profile>
    </div>
    <nav class="nav-bo">
        <ul>
            @for(menu of menuBO; track menu.id){
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="{{menu.link}}">{{menu.title}}</a>
                </li>
            }
            <button type="button" (click)="logOff()"><img src="assets/icons/deconnexion.png" alt=""></button>
        </ul>
    </nav>
</div>