<div class="container-header flex">

    <!-- Photo de profil -->
    <app-picture-profile></app-picture-profile>



    <!-- Menu de navigation -->
    <div class="menu">
        <nav >
            <ul>
                @for (item of menu(); track item.id){
                <li class="flex" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <img routerLink="{{item.link}}" src="{{item.icon}}" alt="{{item.title}}">
                    <a routerLink="{{item.link}}">{{item.title}}</a>
                </li>

                }
            </ul>
        </nav>
    </div>

</div>