.flex {
    display: flex;
    max-width: 100%;
}


.container-header {
    width: 14vw;
    min-width: 14vw;
    border-right: black solid 0.5px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
}


/* Image de profil */
.header-blog {
    width: 50%;
    margin: 2vh auto 5vh;
}

/* Navigation */
.menu {
    width: 85%;
}

.menu nav ul li {
    align-items: center;
    width: auto;
}

.menu nav ul li img {
    margin: 1vw;
    width: 15%;
    cursor: pointer;
}

.menu nav ul li a {
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 1rem;
}

.menu ul li a:hover {
    color: var(--gold);
}

.search{
    border :none;
    width: 80%;
    padding: 0.2rem;
    opacity: 0.5;
}


.search::placeholder {
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.active {
    background-color: var(--main);
}

.active a {
    color: var(--gold);
    font-size: 2rem;
    font-weight: bold;
}

/* Responsive */

/* tablet */
@media (min-width:600px) and (max-width:1024px) {
    .container-header {
        width: 27vw;
        min-width: 23vw;
        border-right: black solid 0.5px;
    }


    .header-blog {
        min-width: 8vw;
        margin: 3vh 0;
    }

    .menu nav ul li {
        width: 100%;
        margin-bottom: 2vh;
    }

    .menu nav ul li img {
        margin-right: 0.8rem;
    }

    .menu nav ul li a {
        font-size: 14px;
        text-align: left;
    }
}

/* smartphone */
@media (max-width:600px) {

    .container-header {
        width: 15vw;
        min-width: 15vw;
        border-right: black solid 0.5px;
    }

    .header-blog {
        width: 100%;
        margin: 3vh 0;
    }

    .menu nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .menu nav ul li {
        margin: 0 auto 3vh;
    }

    .menu nav ul li a {
        display: none;
    }

    .menu nav ul li img {
        display: block;
        width: 5vw;
        height: 5vw;
    }

    .menu nav ul li input {
        display : none;
    }

    .active {
        border: var(--gold) 2px solid;
        background-color: var(--white);
        border-radius: 50%;
    }

}

@media (max-width:425px) {
    .container {
        width: 18vw;
        min-width: 18vw;
    }

}