.v-line{
    border-left: 1px solid #000;
    height:12vh;
    min-height: 10vh;
    left: 50%;
    display: block;
    margin : 1vh auto;
    width:1vw;
   }



   @media (max-width:630px) {

    .v-line {
        margin : 2vh auto;
        height:8vh;
        min-height: 8vh;
    }
}