<section class="container">

    <form class="formulaire-complet" [formGroup]="postForm">

        <div class="container-entete">
            <img src="assets/illustration/back-office.png" alt="back-office">
            <div class="entete-titre">
                @if(isNewPost){
                <h1>Ajouter une publication</h1>
                }@else (){
                <h1>Modifier la publication</h1>
                }

                <!-- Mes boutons de catégorie -->
                <div class="mesCat">
                    <div class="categoriebutton">
                        <input class="cat" required type="radio" id="litterature" formControlName="categorie"
                            name="categorie" value="litterature">
                        <label for="litterature">Littérature</label>
                    </div>
                    <div class="categoriebutton">
                        <input class="cat" required type="radio" id="cinema" formControlName="categorie"
                            name="categorie" value="cinema">
                        <label for="cinema">Cinéma</label>

                    </div>
                    <div class="categoriebutton">
                        <input class="cat" required type="radio" id="citation" formControlName="categorie"
                            name="categorie" value="citation">
                        <label for="citation">Citation</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Titre -->
        <div class="postForm-champ">
            <label for="titre">Titre :</label>
            @if (post) {
            <input class="input-form" name="titre" id="titre" formControlName="titre">
            } @else {
            <input class="input-form" name="titre" id="titre" formControlName="titre">
            }

        </div>

        <!-- Publication -->
        <div class="postForm-champ">
            <label for="publication">Publication:</label>
            <textarea class="publication" name="publication" id="publication" cols="30" rows="10"
                formControlName="publication"></textarea>
        </div>

        <!-- Catégorie -->
        <div class="postForm-champ">
            <label for="theme">Theme :</label>
            <input list="liste-theme" class="input-form" type="text" id="theme" formControlName="theme" />
            <datalist class="input-form" name="theme" id="liste-theme">
                <option value=""></option>
                @for(theme of listOfThemes; track theme){
                <option value="{{theme}}">{{theme}}</option>
                }

            </datalist>
        </div>

        <!-- Editions -->
        <div class="postForm-champ">
            <label for="edition">Edition :</label>
            <input list="liste-edition" class="input-form" type="text" id="edition" formControlName="edition" />
            <datalist class="input-form" name="edition" id="liste-edition">
                <option value=""></option>
                @for(edition of listOfEditions; track edition){
                <option value="{{edition}}">{{edition}}</option>
                }
            </datalist>
        </div>

        <!-- Photo de couverture -->

        <div class="postForm-champ">
            <label for="photo">Photo de la publication :</label>
            <div class="input-photo">
                <img class="photo selected" [src]="imageUrl" [alt]="imageUrl">
                <input name="photo" id="photo" type="text"
                    formControlName="photo" (input)="updateImageUrl($event)">
            </div>
        </div>


        <!-- Nom Auteur -->
        <div class="postForm-champ">
            <label for="auteur">Auteur(trice) :</label>
            <input list="liste-auteur" class="input-form" type="text" id="nom" formControlName="auteur" (input)="updateFieldsAuthor($event)"/>
            <datalist class="input-form" name="auteur" id="liste-auteur">
                <option value=""></option>
                @for(author of listOfAuthors; track author.id){
                <option [value]="author.name">{{author.name}}</option>
                }
            </datalist>
        </div>

        <!-- Description auteur -->
        <div class="postForm-champ">
            <label for="description">Description de l'auteur(trice) :</label>
            <textarea class="publication" name="description" id="description" cols="30" rows="3"
                formControlName="description"></textarea>
        </div>

        <!-- Photo de l'auteur -->
        <div class="postForm-champ">
            <label for="photoAuteur">Photo de l'auteur(trice) :</label>
            <div class="input-photo">
                <img class="photo selected" [src]="auteurImageUrl" [alt]="auteurImageUrl">
                <input name="photoAuteur" id="photoAuteur" type="text"
                    formControlName="photoAuteur">
            </div>
        </div>

        <!-- Boutons -->

        <div class="postForm-button">
            <button class="buttons cancel" (click)="onCancel('Annuler')">Annuler</button>
            @if (isNewPost){
            <button class="buttons validation" type="submit" (click)="openModal('Publier')">Publier</button>
            }@else{
            <button class="buttons validation" type="submit" (click)="openModal('Modifier')">Modifier</button>
            }
        </div>

    </form>
    @if(isOpen){
    <app-modal [actionType]="actionType" [title]="title" [message]="message" (closed)="onModalClosed($event)" ></app-modal>
    }

    
</section>