.container{
    margin: 5vh;
}


.cookies-text{
    font-family: 'Caveat', Courier, monospace;
    white-space: break-spaces;
    font-size: clamp(15px, 0.5rem, 20px);
    text-align: justify;
}

.cookies-text a {
    color: var(--gold);
}

.text-gold{
    color: var(--gold)
}