button {
    border: none;
    background-color: white;
    margin-left: 1vh;
    cursor: pointer;
}
button img{
    width: 2vw;
}




/* RESPONSIVE */

@media (max-width:425px){
    button img{
        width: 6vw;
    }
}


@media (min-width:426px) and (max-width:1025px){
    button img{
        width: 4vw;
    }
}
