/* Auteur */
.auteur {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    gap: 5vh;
    margin-bottom: 5vh;
}

.auteur-img {
    width: 40%;
    min-width: 30%;
    height: 40vh;
    min-height: 30vh;
    object-fit: contain;
}


.auteur-description {
    width: 50%;
    margin-right: 2vw;
    font-size: 1rem;
    font-family: 'Courier prime', Courier, monospace;
    text-align: start;
    white-space: break-spaces;
}

.auteur-description::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold);
}



/* R-E-S-P-O-N-S-I-V-E */


@media (min-width: 701px) and (max-width: 1200px) {


    .auteur {
        flex-direction: column;
        width: 90%;
    }
    
    .auteur-img {
        width: 100%;
    }

    .auteur-description {
        width: 100%;
    }


}

@media (max-width: 700px) {
 
    .auteur {
        flex-direction: column;
        width: 90%;
    }
    
    .auteur-img {
        width: 100%;
    }

    .auteur-description {
        width: 100%;
    }

}