article {
    width: 60vw;
    display: flex;
    margin: 3vh 0;
}

.flex {
    display: flex;
}

li:nth-child(3n) .x {
    flex-direction: row-reverse;
}



/* Partie text */

.titre-card {
    width: 50%;
    padding: 1vw;
    flex-direction: column;
    justify-content: end;
}

.titre-category {
    font-family: 'Caveat', monospace;
    font-size: clamp(25px, 0.5rem, 30px);
    font-weight: bold;
    margin-bottom: 2vh;
}

.text-category {
    font-family: "Courier prime", sans-serif;
    font-size: clamp(15px, 0.5rem, 20px);
    height: auto;
}

/* Partie image */


.image-card {
    width: 50%;
    position: relative;
   
}


li:nth-child(3n) .x .image-card {
    justify-content: center;
}

li:nth-child(3n) .x .button-card-category {
    left: 45%;
    top: 42%;
}

.image-card .img-main {
    width: 50%;
    box-sizing: border-box;
    object-fit: contain;
    height: 35vh;
    min-height: 25vh;
    cursor: pointer;
    height: 100%;
}


/* Bouton catégorie */


.button-card-category {
    background-color: var(--main);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20%;
    top: 45%;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.button-card-category:hover{
    transform: scale(1.5);
}

.img-icon {
    width: 100%;
    padding: 10px;

}


/* ------------------R-E-S-P-O-N-S-I-V-E------------------------------ */

/* Responsive Tablet*/
@media (min-width:631px) and (max-width:1140px) {
    article {
        width: 65vw;
        max-width: 60vw;
    }

    .titre-card {
        width: 50%;
        padding: 1vw;
    }

    .image-card .img-main {
        width: 100%;
       padding:0 5px;
     
    }

    .button-card-category {
        top: 40%;
        left: 40%;
    }

    li:nth-child(3n) .x .button-card-category {
        left: 45%;
        top: 42%;
    }
}

/* Responsive smartphone*/
@media (max-width:630px) {
    article {
        width: 70%;
        flex-direction: column-reverse;
        margin: 0 auto;
        gap: 5vh;
    }

    li:nth-child(3n) .x {
        flex-direction: column-reverse;
    }

    .image-card {
        width: 100%;
        justify-content: start;
        align-items: center;
    }

    .titre-card {
        width: 100%;
    }

    .image-card .img-main {
        width: 100%;
    }

    .button-card-category {
        top: 40%;
        left: 40%;
    }

    li:nth-child(3n) .x .button-card-category {
        left: 40%;
        top: 42%;
    }
}

@media (max-width:400px) {
    article {
        width: 90%;
    }
}