.button{
    background-color: var(--gold);
    width:15vw;
    max-width:18vw;
    max-width:15vw;
    height:5vh;
    border-radius: 20px;
    color: white;
    font-family: "Caveat", serif;
    font-size: 18px;
    border: none;
    display:block;
    margin: 0 auto;
}

.button:hover{
    background-color: var(--white);
    color: var(--gold)
}

/* Responsive */

@media (max-width:425px) {
    
}

