.button{
    background-color: var(--gold);
    width:18vw;
    min-width:18vw;
    height:5vh;
    min-height: 4vh;
    border-radius: 20px;
    color: white;
    font-family: "Merriweather", serif;
    font-size: 1.12rem;
    border: none;
    display:block;
    margin: 0 auto;
   text-align: center;
    padding: 0 1vh;
}

.button:hover{
    cursor: pointer;
    border: var(--gold) solid 2px;
    transform: scale(1.03);
}

/* Responsive */

@media (max-width: 1024px) {
    .button {
        font-size: 1rem;
        width:20vw;
        min-width:20vw;
    }
}


@media (max-width: 600px) {
    .button {
       display: none;
    }
}
