button{
    font-family: "Merriweather", sans-serif;
    border: black solid 0.5px;
    background-color: white;
    width: 150px;
    height: 50px;;
    border-radius: 40px;
}

button:hover{
    background-color: var(--gold);
    color: white;
    border: none;
    transform: scale(1.08);
}
