.container{
    margin: 5vh;
}


.flex {
    display: flex;
}


.titre-partie{
    font-family: 'Merriweather', sans-serif;
    font-size: 2rem;
    margin: 2vh auto 5vh;
    text-transform: capitalize;
}

/* CARD BOOK */
.card-list {
    display : flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 3vw;
}


/* Responsive */

@media (max-width: 425px) {
    .titre-partie{
        font-size: 1.5rem;
        margin: 0 0 4vh;
    }
}


@media (min-width: 426px) and (max-width:768px){

    .titre-partie{
        font-size: 1.5rem;
        margin: 0 0 4vh;
    }

}