<app-page-header></app-page-header>

<div class="flex">
    <app-header></app-header>
    <section class="container">
        <h3 class="titre-partie">{{title}}</h3>
        @if (postsByCategory.length > 0) {
            <ul class="card-list">
                @for (post of postsByCategory; track post.id) {
                <li>
                    <app-card [id]="post.id" [picture]="post.picture" [title]="post.title" [theme]="post.medias[0].theme">
                    </app-card>
                </li>
                }
            </ul>
        } @else {
            <p> Des {{title}} à venir prochainement !</p>
        }
        
    </section>
</div>