article {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    gap: 5vh;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Partie text */

.titre-card {
    width: 45%;
    padding: 1vw;

}

.titre-category {
    font-family: 'Courier Prime', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2vh;
}

.text-category {
    font-family: "Caveat", sans-serif;
    font-size: clamp(18px 1rem 22px);
    height: auto;
}

/* Partie image */


.image-card {
    width: 45%;
}

.image-card img {
    width: 100%;
    box-sizing: border-box;
    object-fit: fill;
}


/* ------------------R-E-S-P-O-N-S-I-V-E------------------------------ */

/* Responsive Tablet*/
@media (min-width:631px) and (max-width:1140px) {
    article {
        width: 60vw;
    }
}

/* Responsive smartphone*/
@media (max-width:630px) {
    article {
        width: 70%;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .image-card {
        width: 100%;
    }

    .titre-card {
        width: 100%;
    }

    .text-category {
        font-size: clamp(16px 0.3rem 18px);
    }

}

@media (max-width:400px) {
    article {
        width: 90%;
    }
}