/* Infos generales */


/*Title */

.title_error_page {
    font-family: "Caveat", serif;
    font-size: clamp(35px, 0.5rem, 40px);
    text-align: center;
    gap: 2vh;
    margin: 1vw 2vw 0;
}

/* Container */

.container {
    position: relative;
    width: 90%;
    display: block;
    margin: 0 5vw;
}

.bloc-container {
    position: relative;
    width: 80vw;
    display: block;
    margin: 0 auto;
}


/* Image */

.container img {
    width: 85vw;
    margin: 3vh 0;
    height: auto;
    cursor: pointer;
}


/* Button */
.container .btn {
    position: absolute;
    bottom: 5%;
    right: 12%;
    color: white;
    font-size: 18px;
    padding: 1vh;
    border: none;
}

.container .btn:hover {
    background-color: var(--black);
    color: var(--gold);
    border-radius: 20px;
}

/* Responsive */

@media (max-width:768px) {
    .container {
        width: 100vw;
        margin: 3vh auto;
    }

    .bloc-container .btn {
        font-size: 14px;
        bottom: 15%;
        right: 10%;
    }

}

@media (max-width:425px) {

    .container {
        width: 100vw;
        margin: 3vh auto;
    }

    .title_error_page {
        height: auto;
        font-size: 20px;
    }

    .bloc-container{
        width: 100vw;
    }

    .bloc-container .btn {
        font-size: 11px;
        bottom: 4%;
        right: 12%;
    }

    .bloc-container img {
        width: 100vw;
        height: auto;
        display: block; 
        margin: 0 1vw;
    }
}