.container{
    margin: 5vh;
}


.confidentialite-text{
    font-family: 'Caveat', Courier, monospace;
    white-space: break-spaces;
    font-size: 22px;
    text-align: left;
}

.text-gold{
    color: var(--gold)
}

.flex{
    display: flex
}





/* Responsive Tablet */

@media (min-width:426px)and (max-width:1024px) {
    .container{
        margin: 5vh 3vh;
    }
    
}

/* Responsive Smartphone */

@media (max-width:425px) {
    .container{
        margin: 5vh 2vh;
    }
    
}