.posts ul {
    margin: 5vh;
    display: flex;
    gap: 5vh;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    margin: 5vh;
}

.ajout {
    display: flex;
    justify-content: start;
    margin: 5vh;
}
span{
    font-size: 30px;;
}