.container{
    margin: 5vh;
}

.flex{
    display: flex
}

.header{
    width: 14vw;
    min-width: 14vw;
    border-right: black solid 2px;
}

.cookies-text{
    font-family: 'Caveat', Courier, monospace;
    white-space: break-spaces;
    font-size: clamp(18px, 0.5rem, 22px);
    text-align: justify;
}

.cookies-text a {
    color: var(--gold);
}

.text-gold{
    color: var(--gold)
}