.container {
    margin: 5vh;
 
}

.cookies-text {
    font-family: 'Caveat', monospace;
    font-size: clamp(18px, 0.5rem, 22px);
    text-align: left;
}


.cookies-text a {
    color: var(--gold);
}

/* Lien http causant overflow */
/* .link-http a{

} */

*/ .text-gold {
    color: var(--gold)
}

.flex {
    display: flex;
    /* max-width: 100%; */
}

/* Responsive Tablet */

@media (min-width:426px)and (max-width:1024px) {
    .container {
        margin: 5vh 1vh;
    }

}

/* Responsive Smartphone */

@media (max-width:425px) {
    .container {
        margin: 5vh 1vh;
        box-sizing: border-box;
    }

}