.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: "Caveat", sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
}

form {    
    width: 40vw;
    border: black solid 1px;
    padding: 3rem 5rem;
    border-radius : 30px;
}

label {
    font-family: "Caveat", sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

label input {
    font-family: "Courier prime new", sans-serif;
    padding: 0.5rem;
    border-radius: 20px;
}

.forgot_password {
    font-size: 1rem;
    align-self: flex-end;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 2rem;
}

.display_error_message{
    color: red;
    /* font-size: clamp(10px, 0.5em, 12px); */
    font-size: 0.8rem;
    font-style: italic;
    font-family: 'Merriweather', sans-serif;
}



@media (max-width: 1024px){

    form {    
        width: 50vw;
        min-width:80%;
        
    }

}

@media (max-width: 500px){

    form {    
        width: 90%;
        padding: 3rem;
        
    }

}