<app-page-header></app-page-header>
<div class="flex">

    <!-- Menu -->
    <app-header class="header"></app-header>

    <!-- POST -->
    <section class="container">

        <button type="button" class="button-back" (click)="goBack()">
            <img src="assets/icons/retour.png" alt="retour en arrière">
        </button>
        <!-- TITRE POST : Livre et auteur -->
        <h1 class="titre-partie">"{{post.title}}"</h1>
        <h2 class="titre-partie">{{author.first_name | uppercase}} {{author.last_name | uppercase}}</h2>
    
        <app-vertical-line class="vertical-line"></app-vertical-line>

        <!-- POST Contenu : IMG - Publication -->
        <div class="post flex">

            <!-- POST IMAGE -->
            <img class="post-img" src="{{post.picture}}" alt="{{post.title}}">


            <!-- POST Publication: text et date -->
            <div class=" post-content flex column">

                <!-- TEXT -->
                <p class="post-text">{{post.content}}
                </p>

                <!-- DATE -->
                <p class="post-date">Date de publication: {{post.publication_date | date: 'longDate'}}</p>
                
            </div>
        </div>
        <app-vertical-line></app-vertical-line>


        
        <h2 class="titre-partie espace">L'auteur</h2>
        <div class="auteur">
            <img class="auteur-img"src="{{author.picture}}" alt="{{author.first_name | uppercase}} {{author.last_name | uppercase}}">

            <div class="auteur-description">
                <p><strong>{{author.first_name}} {{author.last_name | uppercase}}</strong></p>
                <br>
                <p>{{author.description}}</p>
            </div>
        </div>
    </section>
    
</div>



