<!-- <app-page-header></app-page-header> -->
<div class="flex">

    <!-- Menu -->
    <app-header class="header"></app-header>
    @if (post){
    <!-- POST -->
    <section class="container">
        <div class="back-btn-titres">

            <button type="button" class="button-back" (click)="goBack()">
                <img src="assets/icons/retour.png" alt="retour en arrière">
            </button>
            <!-- TITRE POST : Livre et auteur -->
           
            <div class="titres">
                <h1 class="titre-partie ">" {{post!.title}} "</h1>
                <h2 class="titre-media">{{post!.authors[0].name}}</h2>

            </div>
        



        </div>
    
        <app-vertical-line class="vertical-line"></app-vertical-line>

        <!-- POST Contenu : IMG - Publication -->
        <div class="post flex">

            <!-- POST IMAGE -->
            <img class="post-img" src="{{post.picture}}" alt="{{post.title}}">


            <!-- POST Publication: text et date -->
            <div class=" post-content flex column">

                <!-- TEXT -->
                <p class="post-text">{{post.content}}
                </p>

                <!-- DATE -->
                <p class="post-date">Date de publication: {{post.publicated_at | date: 'longDate'}}</p>
                
            </div>
        </div>
        <app-vertical-line></app-vertical-line>


        <!-- Auteur -->
        <h2 class="titre-partie espace">L'auteur</h2>
        <app-author [author]="post.authors[0]"></app-author>

        <app-vertical-line></app-vertical-line>
        <!-- D'autres propositions -->
    </section>
}
    
</div>



