.container {
    margin: 5vh;
}

.header {
    position: sticky;
    top: 0;
}

.button-back {
    position: sticky;
    display: block;
    top: 0%;
    width: 4vw;
    background-color: var(--gold);
    color: white;
    font-family: "Caveat", sans-serif;
    border: none;
    cursor: pointer;
}

.button-back:hover {
    background-color: var(--black);
    opacity: 50%;
}

.flex {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: start;
}

.column {
    flex-direction: column;
}

.titre-partie {
    font-family: 'Merriweather', sans-serif;
    font-size: 30px;
    text-transform: capitalize;
}
.espace{
    margin: 5vh 0;
}

.vertical-line {
    margin-left: 5vh;
}

.post {
    width: 100%;
    min-width: 90%;
}

.post-content {
    width: 40%;
    margin: 5vh auto;
    justify-content: space-between;

}

.post-img {
    width: 35%;
    min-width: 35%;
    margin: 5vh 2vh;
}

.post-text {
    width: 100%;
    min-width: 100%;
    white-space: break-spaces;
    text-align: left;
    overflow-y: scroll;
    height: 50vh;
    font-family: 'Courier Prime', Courier, monospace;
    padding: 1vh;
}

.post-text::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold);
}

.post-date {
    margin-top: 5vh;
    font-family: "Merriweather", sans-serif;
}

/* Define the scrollbar style */
.post-text::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Define the thumb style */
.post-text::-webkit-scrollbar-thumb {
    background-color: var(--gold);
    border-radius: 5px;
}

/* Define the track style */
.post-text::-webkit-scrollbar-track {
    background-color: white;
    border: 0.5px solid var(--main);
}


.post-text::-webkit-scrollbar-button:hover {
    background-color: var(--gold);
}


/* Auteur */
.auteur {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.auteur-img {
    width: 30%;
}

/* R-E-S-P-O-N-S-I-V-E */


@media (min-width: 701px) and (max-width: 1200px) {
    .post {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .post-img {
        width: 70%;
    }

    .post-content {
        width: 90%;
    }

    .titre-partie {
        font-size: 25px;
    }

    .vertical-line {
        margin-left: 8vh;
    }

    .button-back {
        width: 7vw;
    }

}

@media (max-width: 700px) {
    .container {
        margin: 2vh;
    }

    .post {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .post-content {
        width: 100%;
    }

    .post-img {
        width: 90%;
        margin: 1vh;
    }

    .titre-partie {
        font-size: 20px;
    }

    .vertical-line {
        margin: 0;
    }

    .button-back {
        width: 10vw;
    }

}